<!DOCTYPE html>
<html>
  <head>
    <title>New Appointment</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>New Appointment</h1>

    {{ if .IsLoggedIn }}
    <form action="/appointments/create" method="post">
      <input type="submit" value="Create Appointment" />
    </form>
    {{ else }}
    <p>You need to be logged in to create an appointment.</p>
    <a href="/login">Login</a>
    {{ end }}

    <a href="/">Back to Appointments</a>
  </body>
</html>
